@import 'tailwindcss';
@import '@nuxt/ui';

:root {
  --ui-primary: var(--color-cyan-700);
}

.dark {
  --ui-primary: var(--color-cyan-400);
}

html,
body,
#__nuxt {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
}
